.bicicletas-container- {
  padding-top: 80px;
  padding-bottom: 80px;
}
.bicicletas-container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
.bicicletas-1,
.bicicletas-2,
.bicicletas-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.bicicletas-1 {
  margin-bottom: 100px;
}
.bicicletas-2 {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 100px;
}
.bicicletas-2-bg {
  background-color: var(--co-11);
  box-shadow: inset 660px 0 #fff;
}
.bicicletas-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: max-content max-content max-content;
}
.bicicletas-info h3 {
  grid-column: 1 / -1;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bicicletas-info h3::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--co-p1);
  height: 8px;
  top: -20px;
  width: 12px;
}
.bicicletas-info p {
  grid-column: 1 / -1;
}
.paragrafo {
  margin-bottom: 32px;
}
.bicicletas-deitail li + li {
  margin-top: 15px;
}
.bicicletas-info a {
  place-self: end;
}
.bicicletas-deitail {
  grid-column: 1;
  grid-row: 3;
}
.bicicletas-deitail {
  display: grid;
}
.bicicletas-deitail li {
  position: relative;
  margin-left: 35px;
}
.bicicletas-deitail img {
  position: absolute;
  max-width: 25px;
  left: -35px;
}
.bicicletas-img {
  position: relative;
}
.bicicletas-img img {
  width: 100%;
}
.bicicletas-img span {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: var(--co-11);
  padding: 6px 10px;
  border-radius: 4px;
}
@media (max-width: 800px) {
  .bicicletas-container {
  }
  .bicicletas-2 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .bicicletas-1,
  .bicicletas-2,
  .bicicletas-3 {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bicicletas-2-bg {
    box-shadow: none;
  }
  .bicicletas-1 {
    margin-bottom: 0;
  }
  .bicicletas-2 {
    margin-bottom: 0;
  }
}
