.bicicletas-bg:nth-child(3) {
  background: linear-gradient(to right, var(--co-0) 30%, var(--co-11) 0);
}

.bicicletas-container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.bicicletas- {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-info {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}
.bicicletas-info h3,
.bicicletas-info p {
  grid-column: 1 / -1;
}
.bicicletas-info h3 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bicicletas-info h3::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--co-p1);
  height: 8px;
  top: -20px;
  width: 12px;
}
.bicicletas-deitail li {
  display: flex;
  align-items: center;
}
.bicicletas-deitail img {
  width: 24px;
  margin-right: 8px;
}
.bicicletas-info p {
  margin-bottom: 32px;
}
.bicicletas-deitail li + li {
  margin-top: 16px;
}
.bicicletas-info a {
  place-self: end;
}
.bicicletas-deitail {
  grid-column: 1;
  grid-row: 3;
}
.bicicletas-deitail {
  display: grid;
}

.bicicletas-img {
  position: relative;
}
.bicicletas-img img {
  width: 100%;
}
.bicicletas-img span {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: var(--co-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}
@media (max-width: 800px) {
  .bicicletas-bg:nth-child(3) {
    background: var(--co-11);
  }
  .bicicletas- {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .bicicletas-info {
    grid-template-columns: 1fr;
  }
  .bicicletas-deitail {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicletas- a {
    place-self: start;
  }
}
