.intruducao-bg {
  background-color: #000;
  box-shadow: inset 0 -120px #fff;
}
.intruducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 0px 40px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.intruducao-info {
  align-self: end;
  padding-bottom: 200px;
}
.intruducao-info h1 {
  margin-bottom: 32px;
}

.intruducao-info p {
  margin-bottom: 20px;
}

.intruducao-img {
  height: 100%;
}
.intruducao-img img {
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .intruducao-bg {
    background: #111111;
  }
  .intruducao {
    gap: 32px;
    grid-template-columns: 1fr;
  }
  .intruducao-img {
    width: 100%;
  }

  .intruducao-info h1 {
    padding-top: 40px;
    margin-bottom: 16px;
  }

  .intruducao-info {
    padding-bottom: 0;
  }
}
