.parceiros h1 {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.parceiros- {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: auto;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.parceiros- li {
}
