.parceiros h1 {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.parceiros- {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: auto;
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.parceiros li {
  display: flex;
  padding: 32px;
  border-right: 2px solid var(--co-2);
}
.parceiros li:nth-child(8),
.parceiros li:nth-child(4) {
  border-right: none;
}
.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--co-2);
}
.parceiros img {
  margin: 0 auto;
}
@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }
  .parceiros h1 {
    margin-bottom: 20px;
  }
  .parceiros li {
    padding: 20px;
  }
  .parceiros- {
    grid-template-columns: repeat(2, 1fr);
  }
  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--co-2);
  }
  .parceiros li:nth-child(even) {
    border-right: none;
  }
}
