#orcamento {
  background: linear-gradient(var(--co-11) 600px, var(--co-1) 0px);
}
.orcamento-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.orcamento-produto {
  background-color: var(--co-12);
  border-radius: 5px 0 0 5px;
}

.orcamento-dados {
  background-color: var(--co-0);
  border-radius: 0 5px 5px 0;
}
.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.orcamento-produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}
.orcamento-produto h2,
.orcamento-dados h2 {
  display: flex;
  align-items: center;
  position: relative;
  grid-column: 1 / -1;
}
.orcamento-produto h2::before,
.orcamento-dados h2::before {
  content: "";
  display: inline-block;
  background-color: var(--co-p1);
  width: 4px;
  height: 8px;
  position: absolute;
  left: -12px;
}
.orcamento-dados h2 {
  margin-bottom: 25px;
}

.orcamento-entrega {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-column: 1 / -1;
}
.orcamento-produto label {
  background-color: var(--co-10);
  color: var(--co-0);
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 16px 20px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}
.orcamento-produto label:hover {
  background-color: var(--co-8);
}

.orcamento-produto label span,
.orcamento-conteudo label p {
  transform: translateX(16px);
}
.orcamento-produto label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 16px;
  border: solid 1px var(--co-6);
  border-radius: 50%;
}

.orcamento-produto input:checked + label::before {
  border: solid 1.9px var(--co-7);
}
.orcamento-produto input:checked + label {
  background-color: var(--co-0);
  color: var(--co-12);
}
.orcamento-produto input:checked + label::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--co-7);
  border-radius: 50%;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.orcamento-conteudo {
  display: none;
}
#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: block;
}
.orcamento-produto input {
  opacity: 0;
  display: none;
  position: absolute;
  pointer-events: auto;
}

.orcamento-conteudo h2 {
  margin-bottom: 20px;
}
.orcamento-conteudo {
  grid-column: 1 / -1;
}
.orcamento-conteudo label {
  display: flex;
  justify-content: space-between;
}
.orcamento-conteudo label span {
  margin-right: 10px;
}
.orcamento-conteudo span {
  display: none;
}
#nimbus:checked + label span,
#magic:checked + label span,
#nebula:checked + label span,
#ouro:checked + label span,
#prata:checked + label span {
  display: inline-block;
}
.orcamento-bicicleta {
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: var(--co-0);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.orcamento-especificacao img {
  max-width: 16px;
}
.orcamento-especificacao p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.orcamento-especificacao p + p {
  margin-top: 5px;
}
.orcamento-bicicleta {
  display: none;
}
#nimbus:checked ~ #orcamento-bicicleta1,
#magic:checked ~ #orcamento-bicicleta2,
#nebula:checked ~ #orcamento-bicicleta3 {
  display: grid;
}
